<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=*****">
            <section name="PWSFtpBAckup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=*****" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <applicationSettings>
        <PWSFtpBAckup.My.MySettings>
            <setting name="PWSFtpBAckup_ParsicWebService_Service1" serializeAs="String">
                <value>http://pws.parsipol.com/service1.asmx</value>
            </setting>
            <setting name="PWSFtpBAckup_LabService_Service1" serializeAs="String">
                <value>http://192.168.1.146:8599/Service1.asmx</value>
            </setting>
        </PWSFtpBAckup.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap"/>
                <binding name="WebService1Soap"/>
            </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="http://192.168.1.103:8081/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="LabService.Service1Soap" name="Service1Soap"/>
            <!--<endpoint address="http://192.168.1.103:8081/Service1.asmx" binding="customBinding"
                bindingConfiguration="Service1Soap12" contract="LabService.Service1Soap"
                name="Service1Soap12" />-->
            <endpoint address="http://81.16.116.84:8595/WebService1.asmx" binding="basicHttpBinding" bindingConfiguration="WebService1Soap" contract="IISFtpService.WebService1Soap" name="WebService1Soap"/>
        </client>
    </system.serviceModel>
</configuration>
